<div class="container mt-5 my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <% if ( messages && messages.length>0) { %>
                <div class="alert alert-danger fade show mt-3 custom-alert" role="alert">
                    <%- messages %>
                </div>
                <% } %>
            <% if ( email && email.length>0) { %>
                <div class="alert alert-success fade show mt-3 custom-alert" role="alert">
                    OTP has been Resent to your <%- email %>! Please verify.
                </div>
                <% } %>
            <div class="card custom-card">
                <div class="card-header custom-card-header">
                    <h5 class="card-title">OTP Verification</h5>
                </div>
                <div class="card-body text-center">

                    <form action="/reSendOTP" method="post">
                        <div class="form-group">
                            <label for="otp">Enter OTP:</label>
                            <input type="text" class="form-control custom-input" id="otp" name="otp" placeholder="Enter OTP" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2 custom-button">Verify OTP</button>
                    </form>
                   <button type="submit" id="resendOTPButton" class="btn btn-warning mt-3 custom-button" disabled><a href="/reSendOTP">Resend OTP</a></button>
                    <div id="timer" class="mt-3 custom-timer">Timer: 1:00</div>
                </div>
            </div>
        </div>
    </div>
</div>  

<style>
   
  
    .custom-alert {
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
    .custom-card {
        border: none;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .custom-card-header {
        background-color: #007bff;
        color: #fff;
        text-align: center;
        padding: 15px 0;
    }
    .custom-card-title {
        font-size: 24px;
    }
    .custom-input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
    .custom-button {
        background-color: #000000;
        border: none;
    }
    .custom-button:hover {
        background-color: #9e5e5e;
    }
    .custom-timer {
        font-size: 18px;
        font-weight: bold;
    }
    .btn:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
</style>

<script>
   
    let timerSeconds = 30;
  
    
    function updateTimer() {
      const timerElement = document.getElementById("timer");
      timerElement.textContent = `Timer: ${Math.floor(timerSeconds / 60)}:${(timerSeconds % 60)
        .toString()
        .padStart(2, "0")}`;
  
      if (timerSeconds <= 0) {
        document.getElementById("resendOTPButton").removeAttribute("disabled");
      } else {
       
        timerSeconds--;
        setTimeout(updateTimer, 1000); 
      }
    }
    updateTimer();

    const alert = document.getElementById('message')
    setTimeout(() => {
        alert.style.display = 'none'
    }, 3000);
</script>
