<!doctype html>
<html class="no-js" lang="en">
    

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TimeVogue</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/TIME.png">
		
		
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/easyzoom.css" >
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/css/themify-icons.css">
        <link rel="stylesheet" href="/assets/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="/assets/css/slinky.min.css">
        <link rel="stylesheet" href="/assets/css/bundle.css">
         <link rel="stylesheet" href="/assets/css/icofont.css">
        <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/easyzoom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

        <link rel="stylesheet" href="/assets/css/responsive.css">
        <script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>
        <script src="/assets/js/shop/registerValidation.js"></script>
        
        
        
       
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
        <script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>








    </head>
    <body>

        <%- include('./partials/header.ejs') %>

        <page> <%-body %> </page>
    
        <%- include('./partials/footer.ejs') %>
        
    <div
    id="cart-message"
    class="position-fixed p-2 rounded"
    style="bottom: 20px; right: 20px; display: none; z-index: 999"
  ></div>

  <script src="assets/js/shop/cart.js"></script>

<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/ajax-mail.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>


</html>